/* styles.css */

/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f9fa;
}

.container {
    width: 90%;
    max-width: 600px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 20px;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], textarea[type="text"], input[type="file"] {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    flex: 1;
    box-sizing: border-box;
}

.custom-select {
    width: 100%; /* Adjust the width to match your requirements */
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
}

.btn {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    box-sizing: border-box;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-left: auto;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

.extracted-data {
    margin-top: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2, h3 {
    color: #333;
}

/* Header */
.header {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Navigation */
.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.navbar a {
    color: #fff;
    text-decoration: none;
}

/* Forms */
.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.form-group {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-weight: bold;
}

.form-group input[type="text"],
.form-group textarea[type="text"],
.form-group input[type="password"],
.form-group input[type="email"],
.form-group input[type="file"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

.form-group input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.form-group.btn-group {
    grid-column: span 2;
}

.logo {
    width: 100px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px; /* Optional: Add margin to separate the logo from other content */
}

/* Footer */
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Checkbox list styles */
#template-checkboxes {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#template-checkboxes .form-group {
    display: flex;
    align-items: center;
}

#template-checkboxes input[type="checkbox"] {
    margin-right: 10px;
}

#template-checkboxes label {
    margin: 0;
    font-weight: normal;
}

/* Responsive styles */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
    
    .btn {
        width: 100%;
    }

    .form-container {
        grid-template-columns: 1fr;
    }

    .form-group input[type="text"],
    .form-group input[type="password"],
    .form-group input[type="email"],
    .form-group input[type="file"],
    .form-group input[type="submit"] {
        width: calc(100% - 20px);
        margin-right: 0;
    }
}


.spinner {
    display: none;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #007bff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
