<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload File</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type=image/x-icon">
</head>
<body>
    <div class="container">
        <div class="header">
            <!-- Add your logo here -->
            <img src="static/images/logo.png" alt="Your Logo" class="logo">
            <h2>Ecomax</h2>
        </div>
        <div class="navbar">
            <a href="/">Acasa</a> |
            <!--a href="/login">Login</a-->  <!-- Add login link here -->
            <a href="/about">Despre</a>  <!-- Upload link here -->
        </div>
        <div class="content">
            <h2>Aplicatie de uz intern</h2>
            <p>Aplicatia de procesat actele pentru cesiunea creantelor. Accesul permis doar persoanelor autorizate.</p>
        </div>
        <div class="footer">
            <p>Copyright &copy; 2024 Siventys SRL</p>
        </div>
    </div>
</body>
</html>
